<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <!--获取IP及所在城市-->
    <script type="text/javascript" src="http://pv.sohu.com/cityjson"></script>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="<%= htmlWebpackPlugin.files.chunks.app.css[0] %>" rel="stylesheet">
    <!--  css & js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/css/share.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/js/social-share.min.js"></script>

</head>

<body>
    <div id="app" />
    <script src="<%= htmlWebpackPlugin.files.chunks.app.entry %>"></script>
</body>

</html>