<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <!-- 获取IP及所在城市 -->
    <script type="text/javascript" src="http://pv.sohu.com/cityjson"></script>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="<%= htmlWebpackPlugin.files.chunks.app.css[0] %>" rel="stylesheet">
     <!-- css & js -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/css/share.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/js/social-share.min.js"></script> -->
    <!-- <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script> -->
</head>

<body>
    <div id="app" />
    <script src="<%= htmlWebpackPlugin.files.chunks.app.entry %>"></script>
</body>

</html>